<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

    <appSettings>

        <!-- Cross Web API Client Settings -->
        <add key="FRAMEWORK.CROSS.WEBAPI.IsAuthenticationEnabled" value="false" />
        <add key="FRAMEWORK.CROSS.WEBAPI.BaseAddress" value="http://localhost:54451/api/psr" />
        <add key="FRAMEWORK.CROSS.WEBAPI.ClientID" value="3n/7E6ZaG5+iB2LZ+WAjUQ==" />
        <add key="FRAMEWORK.CROSS.WEBAPI.SharedSecret" value="HL5pkAqqO6bU2ab/djfoxWP/w2B9va7a" />

        <add key="FRAMEWORK.CROSS.WEBAPI.USERNAME" value="u1tLKaCkyoKVxWYGhyY30A==" />
        <add key="FRAMEWORK.CROSS.WEBAPI.PASSWORD" value="HL5pkAqqO6bU2ab/djfoxWP/w2B9va7a" />
        <add key="FRAMEWORK.CROSS.WEBAPI.ApplicationCode" value="1" />
        
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup></configuration>
